<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= wicked_pdf_stylesheet_link_tag "css/humanas - 24-09-2014" -%>
	<meta charset="utf-8"></meta>
	<style>
	body {
		font-size: 17px
	}
	p {
		text-align: justify;
	}
	h2 {
		color:#000;
	}

	table, th, td {
		border: 1px solid black;
	}

	th, td {
		padding: 5px;
		text-align: left;
	}

	#title1{
		text-align: center;
	}

	#table {
    border-collapse: collapse;
		width: 100%;
		text-align: justify;
		padding: 5px;
	}
	</style>
</head>
<body>
  <h2>Instrucciones</h2>
  <p>I. Este formato debe ser diligenciado de manera íntegra (todos los puntos
    son de respuesta obligatoria, salvo que se especifique lo contrario).
  </p>

  <p>II. Para que el concepto editorial se considere válido, el formato debe
    presentar firma, cédula y cargo de quien lo diligencia, es decir, el autor
    del manuscrito en la parte A, o el editor, coordinador editorial, director
    del comité editorial o del centro editorial de la unidad editora
    correspondiente), en la parte B.
  </p>

  <h2>B. ESPACIOS A DILIGENCIAR POR PARTE DEL COORDINADOR EDITORIAL DEL MANUSCRITO</h2>

  <p>
  Realice la valoración y las observaciones al autor que haya lugar, en cada uno
	de los siguientes criterios:<br>
  </p>

  <table id="table">
    <tr>
      <th colspan="3" id="title1">1. Presentación del manuscrito</th>
    </tr>
    <tr>
      <th>Criterio</th>
      <th>Observaciones</th>
			<th>Observaciones al autor o unidad académica</th>
    </tr>
    <tr>
      <th>a) Tema</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
    <tr>
      <th>b) Tipo de manuscrito</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
    <tr>
      <th>c) Distribución textual</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
    <tr>
      <th>d) Calidad de inédito del manuscrito</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>e) Observaciones de los pares evaluadores académicos</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
    <tr>
      <th colspan="3" id="title1">2.	Adecuación a la pauta editorial de la Facultad (Manual editorial)</th>
    </tr>
		<tr>
      <th>a) Índices analíticos</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>b) Sistema de citación</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>c) Referencias cruzadas</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>d) corrección de estilo</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>e) Idioma extranjero</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>f) Material gráfico</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>g) Derechos de reproducción y/o de traducción </th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>h) Cesión de derechos patrimoniales</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>i) Extensión del manuscrito</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th colspan="3" id="title1">3.	Viabilidad editorial, económica y comercial</th>
    </tr>
		<tr>
      <th>a) Colección y medio de publicación</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>b) Público objetivo y nichos de mercado</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>c) Tiraje sugerido</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>d) Evaluación de mercado (libros afines de otros sellos editoriales)</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>e) Posible coedición</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
  </table>
  <p>
    Recomendación final:
  </p>

	<table id="table">
		<tr>
			<th style="text-align:justify">Referenciar otros títulos publicados, con características similares al manuscrito, que se encuentren disponibles comercialmente Recomendación final: (utilice este espacio si desea brindar aclaraciones para la publicación) </th>
		</tr>
	</table>

  <p>
		<br><br><br><br><br><br>
    __________________________
  </p>

  <p>
		<%= Administrator.find(1).first_name %> <%= Administrator.find(1).last_name %><br>
    C.C. <%=%> de <%=%><br>
  </p>
</body>
</html>
