<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8"></meta>
</head>
<body>
  <h4>Instrucciones<h4>
  <p>I. Este formato debe ser diligenciado de manera íntegra (todos los puntos
    son de respuesta obligatoria, salvo que se especifique lo contrario).
  </p>

  <p>II. Para que el concepto editorial se considere válido, el formato debe
    presentar firma, cédula y cargo de quien lo diligencia, es decir, el autor
    del manuscrito en la parte A, o el editor, coordinador editorial, director
    del comité editorial o del centro editorial de la unidad editora
    correspondiente), en la parte B.
  </p>

  <h3>B. ESPACIOS A DILIGENCIAR POR PARTE DEL COORDINADOR EDITORIAL DEL MANUSCRITO</h3>

  <p>
  Realice la valoración y las observaciones al autor que haya lugar, en cada uno
	de los siguientes criterios:<br>
  </p>

  <table border='1'>
    <tr>
      <th colspan="3">1. Presentación del manuscrito</th>
    </tr>
    <tr>
      <th>Criterio</th>
      <th>Observaciones</th>
			<th>Observaciones al autor o unidad académica</th>
    </tr>
    <tr>
      <th>a) Tema</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
    <tr>
      <th>b) Tipo de manuscrito</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
    <tr>
      <th>c) Distribución textual</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
    <tr>
      <th>d) Calidad de inédito del manuscrito</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>e) Observaciones de los pares evaluadores académicos</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
    <tr>
      <th colspan="3">2.	Adecuación a la pauta editorial de la Facultad (Manual editorial)</th>
    </tr>
		<tr>
      <th>a) Índices analíticos</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>b) Sistema de citación</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>c) Referencias cruzadas</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>d) corrección de estilo</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>e) Idioma extranjero</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>f) Material gráfico</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>g) Derechos de reproducción y/o de traducción </th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>h) Cesión de derechos patrimoniales</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>i) Extensión del manuscrito</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th colspan="3">3.	Viabilidad editorial, económica y comercial</th>
    </tr>
		<tr>
      <th>a) Colección y medio de publicación</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>b) Público objetivo y nichos de mercado</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>c) Tiraje sugerido</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>d) Evaluación de mercado (libros afines de otros sellos editoriales)</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
		<tr>
      <th>e) Posible coedición</th>
      <th><%=%></th>
			<th><%=%></th>
    </tr>
  </table>
  <p>
    Recomendación final:
  </p>

  <table height='100' width='900' border="1">
    <tr>
      <th><%=%></th>
    <tr>
  </table>

  <p>
    __________________________
  </p>

  <p>
		<%= Administrator.find(1).first_name %> <%= Administrator.find(1).last_name %><br>
    C.C. <%=%> de <%=%><br>
  </p>
</body>
</html>
