<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= wicked_pdf_stylesheet_link_tag "css/humanas - 24-09-2014" -%>
	<meta charset="utf-8"></meta>
	<style>
	body {
		font-size: 17px
	}
	p {
		text-align: justify;
	}
	h2 {
		color:#000;
	}

	table, th, td {
		border: 1px solid black;
	}

	th, td {
		padding: 5px;
		text-align: justify;
	}

	input{
		width: 15px;
		padding: 5px;
	}

	#title1{
		text-align: center;
	}

	#table {
    border-collapse: collapse;
		width: 100%;
		text-align: justify;
		padding: 5px;
	}
	</style>
</head>
<body>
  <h2>Instrucciones</h2>
  <p>I. Este formato debe ser diligenciado de manera íntegra (todos los puntos
    son de respuesta obligatoria, salvo que se especifique lo contrario).
  </p>

  <p>II. Para que la evaluación se considere válida, el formato debe quedar
    debidamente firmado por el evaluador.
  </p>

  <h2>A. IDENTIFICACIÓN DEL EVALUADOR</h2>

  <p>
    1. Nombre del evaluador: <%=current_evaluator.first_name%> <%=current_evaluator.last_name%>.<br>
    2. Vinculación institucional del evaluador (cargo e institución): <%=current_evaluator.position%>/<%= current_evaluator.institution 	%><br>
    3. Título académico e institución que lo expide: <%=current_evaluator.degree%>/<%=current_evaluator.degree_institution%><br>
    4. Teléfonos y correo electrónico: <%= current_evaluator.contact_number%>/<%=current_evaluator.email %><br>
  </p>

  <h2>B. IDENTIFICACIÓN DE LA EVALUACIÓN</h2>

  <p>
    5. Título del libro:  <%=Publication.find(Evaluation.find(@evaluator.evaluation_id).application_request_id).title%><br>
    6. Fecha de entrega del original al evaluador: <%= current_evaluator.created_at %><br>
    7. Fecha de entrega de la evaluación a la Editorial: <%=t(Date.today.day.to_words)%> del mes <%= Date.today.month %> del <%=Date.today.year%>.<br>
  </p>

  <h2>C. CLASIFICACIÓN DE LA OBRA</h2>

  <p>
    8. Seleccione la opción según corresponda:<br><br>
    <input type="text" value="<% if @evaluation.publication_clasiffication == "Libro resultado de investigación" %>X<% end%>"> Libro resultado de investigación <br>
    <input type="text" value="<% if @evaluation.publication_clasiffication == "Compilación de artículos de investigación" %>X<% end%>"> Compilación de artículos de investigación <br>
    <input type="text" value="<% if @evaluation.publication_clasiffication == "Compilación de ensayos" %>X<% end%>"> Compilación de ensayos      <br>
    <input type="text" value="<% if @evaluation.publication_clasiffication == "Libro de texto de pregrado" %>X<% end%>"> Libro de texto de pregrado      <br>
    <input type="text" value="<% if @evaluation.publication_clasiffication == "Libro de texto de posgrado" %>X<% end%>"> Libro de texto de posgrado      <br>
    <input type="text" value="<% if @evaluation.publication_clasiffication == "Antología de ponencias " %>X<% end%>"> Antología de ponencias      <br>
    <input type="text" value="<% if @evaluation.publication_clasiffication == "Libro de referencia" %>X<% end%>"> Libro de referencia <br>
    <input type="text" value="<% if @evaluation.publication_clasiffication == "Traducción " %>X<% end%>"> Traducción   <br>
    <input type="text" value="<% if @evaluation.publication_clasiffication == "Edición académica de un texto literario " %>X<% end%>"> Edición académica de un texto literario      <br>
    <input type="text" value="<% if @evaluation.publication_clasiffication == "Otro" %>X<% end%>"> Otro     <br>
  </p>

  <p>En caso de haber seleccionado ‘Otro’, especifique de qué tipo de material se trata:</p>

	<table id="table">
		<tr>
			<th style="text-align:justify"></th>
		</tr>
	</table>

  <p>
    9. En caso de que se trate de una traducción, especifique qué tipo de material
    fue traducido:<br><br>
    <input type="text" value="<% if @evaluation.publication_translated_material == "Libro resultado de investigación" %>X<% end%>"> Libro resultado de investigación <br>
    <input type="text" value="<% if @evaluation.publication_translated_material == "Compilación de artículos de investigación" %>X<% end%>"> Compilación de artículos de investigación <br>
    <input type="text" value="<% if @evaluation.publication_translated_material == "Compilación de ensayos" %>X<% end%>"> Compilación de ensayos      <br>
    <input type="text" value="<% if @evaluation.publication_translated_material == "Libro de texto de pregrado" %>X<% end%>"> Libro de texto de pregrado      <br>
    <input type="text" value="<% if @evaluation.publication_translated_material == "Libro de texto de posgrado" %>X<% end%>"> Libro de texto de posgrado      <br>
    <input type="text" value="<% if @evaluation.publication_translated_material == "Antología de ponencias " %>X<% end%>"> Antología de ponencias      <br>
    <input type="text" value="<% if @evaluation.publication_translated_material == "Libro de referencia" %>X<% end%>"> Libro de referencia <br>
    <input type="text" value="<% if @evaluation.publication_translated_material == "Traducción" %>X<% end%>"> Traducción   <br>
    <input type="text" value="<% if @evaluation.publication_translated_material == "Edición académica de un texto literario " %>X<% end%>"> Edición académica de un texto literario      <br>
    <input type="text" value="<% if @evaluation.publication_translated_material == "Otro" %>X<% end%>"> Otro     <br>
  </p>

  <p>10. Elabore una sinopsis que dé cuenta del contenido del libro evaluado
    (tema, disciplina, propósito, alcances, etc.).</p>

	<table id="table">
		<tr>
			<th style="text-align:justify"><%=@evaluation.publication_synopsis%> </th>
		</tr>
	</table>

  <h2>D. ORIGINALIDAD Y RELEVANCIA DEL CONTENIDO</h2>

  <p>11. Escriba la calificación en números (de 0 a 100) en la casilla que corresponda.</p>

  <table id="table">
    <tr>
      <th rowspan="2" id="title1">Criterio</th>
      <th id="title1">Excelente</th>
      <th id="title1">Aceptable</th>
      <th id="title1">Deficiente</th>
      <th rowspan="2" id="title1">N/A</th>
    </tr>
		<tr>
	    <th id="title1">[100-90]</th>
	    <th id="title1">[89-60]</th>
	    <th id="title1">[59-0]</th>
  	</tr>
		<%- EvaluationsCriterium.curr_evl_gen(@evaluation.id).order(id: :asc).each do |ev_criteria| %>
		<tr>
			<th><%= ev_criteria.criterium.criterion %></th>
      <th><%if ev_criteria.score <=100 && ev_criteria.score >= 90 %> <%=ev_criteria.score%> <%end%></th>
      <th><%if ev_criteria.score <=89 && ev_criteria.score >= 60 %><%=ev_criteria.score%><%end%></th>
      <th><%if ev_criteria.score <59 && ev_criteria.score > 0 %><%=ev_criteria.score%><%end%></th>
      <th><%if ev_criteria.score == "" || ev_criteria.score > 100 || ev_criteria.score == 0 %> X <%end%></th>
    </tr>
		<%end%>
  </table>

  <p>12. Redacte una argumentación en la que consten las razones por las cuales
    otorgó las calificaciones dadas en el punto anterior. (Puede usar hojas
    adicionales al final del documento).</p>

	<table id="table">
		<tr>
			<th style="text-align:justify"><%=@evaluation.general_score_justification%> </th>
		</tr>
	</table>

  <h2>D. ADECUACIÓN DE LA ESCRITURA Y PRESENTACIÓN</h2>

  <p>13. Escriba la calificación en números (de 0 a 100) en la casilla que corresponda.</p>

  <table id="table">
		<tr>
      <th rowspan="2" id="title1">Criterio</th>
      <th id="title1">Excelente</th>
      <th id="title1">Aceptable</th>
      <th id="title1">Deficiente</th>
      <th rowspan="2" id="title1">N/A</th>
    </tr>
		<tr>
	    <th id="title1">[100-90]</th>
	    <th id="title1">[89-60]</th>
	    <th id="title1">[59-0]</th>
  	</tr>
		<%- EvaluationsCriterium.curr_evl_wri(@evaluation.id).each do |ev_criteria| %>
			<tr>
	      <th><%= ev_criteria.criterium.criterion %></th>
				<th><%if ev_criteria.score <=100 && ev_criteria.score >= 90 %> <%=ev_criteria.score%> <%end%></th>
	      <th><%if ev_criteria.score <=89 && ev_criteria.score >= 60 %><%=ev_criteria.score%><%end%></th>
	      <th><%if ev_criteria.score <59 && ev_criteria.score > 0 %><%=ev_criteria.score%><%end%></th>
	      <th><%if ev_criteria.score == "" || ev_criteria.score > 100 || ev_criteria.score == 0 %> X <%end%></th>
	    </tr>
		<% end %>
  </table>

  <p>14. Realice comentarios u observaciones puntuales sobre los aspectos evaluados
    en el punto anterior. (Puede usar hojas adicionales al final del documento).</p>

	<table id="table">
		<tr>
			<th style="text-align:justify"><%= @evaluation.writing_score_jistification %> </th>
		</tr>
	</table>

  <h2>E. DECISIÓN FINAL</h2>

  <p>
    15. Considera que el material debe ser publicado:<br>
    <input type="text" value="<%- if @evaluation.state == 'aprobado' %> X <%end%>"> (1) Tal como está <br>
    <input type="text" value="<%- if @evaluation.state == 'ligeras_modificaciones' %> X <%end%>"> (2) Con ligeras modificaciones     <br>
    <input type="text" value="<%- if @evaluation.state == 'modificaciones_sustanciales' %> X <%end%>"> (3) Con modificaciones sustanciales           <br>
    <input type="text" value="<%- if @evaluation.state == 'rechazado' %> X <%end%>"> (4) De ninguna manera       <br>
  </p>

  <p>16. En caso de haber escogido las opciones 2 o 3 en el punto anterior, por
    favor especifique el tipo de modificación o modificaciones a realizar. En caso
    de haber escogido la opción 4, por favor realice el comentario pertinente.</p>

	 <table id="table">
	 	<tr>
	 		<th style="text-align:justify"><%=@evaluation.justification%></th>
	 	</tr>
	 </table>

  <p>17. Optativamente, el evaluador podrá utilizar este espacio para realizar
    cualquier tipo de observación adicional para el autor o para el editor acerca
    del manuscrito.</p>

  <p>Observaciones para el autor:</p>

	<table id="table">
		<tr>
			<th style="text-align:justify"><%= @evaluation.aditional_remarks_to_author %> </th>
		</tr>
	</table>

  <p>Observaciones para el editor: </p>

	<table id="table">
		<tr>
			<th style="text-align:justify"><%= @evaluation.aditional_remarks_to_publisher %></th>
		</tr>
	</table>

  <p>
    18. El grado de divulgación de la obra es:<br>
    <input type="text" value="<%- if @evaluation.disclosure_degree == 1 %>X<%end%>"> Regional <br>
    <input type="text" value="<%- if @evaluation.disclosure_degree == 2 %>X<%end%>"> Nacional      <br>
    <input type="text" value="<%- if @evaluation.disclosure_degree == 3 %>X	<%end%>"> Internacional            <br>
  </p>

  <p>19. Seleccione en la casilla que corresponda.</p>

  <table id="table">
    <tr>
      <th>Público lector</th>
      <th>Selección</th>
    </tr>
  </tr>
    <tr>
      <th>Intradisciplinario: público altamente especializado, de modo tal que
        requiere pertenecer a la misma área para poder comprender el contenido.</th>
      <th><%- if @evaluation.target_audience == 1 %>X<%end%></th>
    </tr>
    <tr>
      <th>Interdisciplinario: público especializado interesado en cruzar las fronteras
        del conocimiento y de la disciplina (pertenece a la misma disciplina,
        pero trabaja en áreas diversas).</th>
      <th><%- if @evaluation.target_audience == 2 %>X<%end%></th>
    </tr>
    <tr>
      <th>En formación: estudiantes en una dimensión amplia que abarca todos los
        niveles del sistema educativo.</th>
      <th><%- if @evaluation.target_audience == 3 %>X<%end%></th>
    </tr>
    <tr>
      <th>General: lectores no especializados, interesados en información puntual.</th>
      <th><%- if @evaluation.target_audience == 4 %>X<%end%></th>
    </tr>
  </table>

  <p>Opcionalmente puede hacer observaciones sobre este punto:</p>

	<table id="table">
		<tr>
			<th style="text-align:justify"><%= @evaluation.target_audience_remark %></th>
		</tr>
	</table>

  <p>20. Mencione a continuación institutos, sociedades, gremios, escuelas, facultades,
    congresos y otras entidades o eventos cuyos integrantes constituyan un público
    objetivo importante para la publicación (especifique ubicación geográfica y,
    de ser pertinente, fecha):</p>

		<table id="table">
			<tr>
				<th style="text-align:justify"><%= @evaluation.extra_target_audience %></th>
			</tr>
		</table>

  <p>
		<br><br>
    Firma
  </p>

	<p>
		<br><br><br><br><br><br>
    __________________________
  </p>

	<p>
		<%=current_evaluator.first_name%> <%=current_evaluator.last_name%>.<br>
  </p>

</body>
</html>
