<div class="row">
  <div class="col-sm-2">
    <%= render 'static/menu_publicaciones' %>
  </div>
  <div class="text-center">
    <div class="col-md-10" style="padding: 10px 0px 0px 0px;">
      <h1 style="font-size:200%;">Evaluación</h1>
    </div>
  </div>
  <div class="col-sm-10">
    <div><hr class="style13"></div>
    <div class="form-basic" style="width:100% height:100%">
        <%= form_for(@evaluation) do |f| %>
        <div class="form-title-row">
          <h1>Evaluación de la publicación.</h1>
        </div>
        <div class="form-row">
          <label>
            <span>Título de la publicación</span>
            <%#= @evaluation.publication.title %>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Justificación</span>
            <%= f.text_area :justification %>
          </label>
        </div>
        <div>Clasificación de la obra</div>

        <div class="form-row", position: relative>
          <label>
            <span>Seleccione la obra según corresponda</span>
            <%= collection_check_boxes(:evaluation, :publication_clasiffication, @categories, :id, :category, {:include_blank => false}, {:multiple => false}) %>
            <span>Otro, ¿cuál?</span>
            <%= f.text_field :publication_clasiffication %>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>En caso de que se trate de una traducción, especifique qué tipo de material fue traducido</span>
            <%= collection_check_boxes(:evaluation, :"publication_translated_material", @categories, :id, :category, {:include_blank => false}, {:multiple => false}) %>
            <span>Otro, ¿cuál?</span>
            <%= f.text_field :publication_translated_material%>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Elabore una sinopsis que dé cuenta del contenido del libro evaluado(tema, disciplina, propósito, alcances, etc.)</span>
            <%= f.text_area :publication_synopsis %>
          </label>
        </div>
        <div>Originalidad y relevancia del contenido </div>
        <table style="width:100%">
          <span>Escriba la calificación en números (de 0 a 100) en la casilla que corresponda.</span>
          <hr>
          <tr>
            <th>Criterio</th>
            <th>Excelente [100-90]</th>
            <th>Aceptable [89-60]</th>
            <th>Deficiente[59-0]</th>
            <th>N/A</th>
          </tr>
          <tr>
            <td>Criterio 1</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Criterio 2</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Criterio 3</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Criterio 4</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Criterio 5</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Criterio 6</td>
            <td></td>
            <td></td>
          </tr>

        </table>
        <hr>
        <div class="form-row">
          <label>
            <span>Redacte una argumentación en la que consten las razones por las cuales otorgó las calificaciones dadas en el punto anterior.</span>
            <%= f.text_area :general_score_justification %>
          </label>
        </div>
        <div>Adecuación de la escritura y presentación</div>
       <table style="width:100%">
         <span>Escriba la calificación en números (de 0 a 100) en la casilla que corresponda.</span>
         <hr>
         <tr>
           <th>Criterio</th>
           <th>Excelente [100-90]</th>
           <th>Aceptable [89-60]</th>
           <th>Deficiente[59-0]</th>
           <th>N/A</th>
         </tr>
         <tr>
           <td>Criterio 1</td>
           <td></td>
           <td></td>
         </tr>
         <tr>
           <td>Criterio 2</td>
           <td></td>
           <td></td>
         </tr>
         <tr>
           <td>Criterio 3</td>
           <td></td>
           <td></td>
         </tr>
         <tr>
           <td>Criterio 4</td>
           <td></td>
           <td></td>
         </tr>
         <tr>
           <td>Criterio 5</td>
           <td></td>
           <td></td>
         </tr>

       </table>
       <hr>

        <div class="form-row">
          <label>
            <span>Realice comentarios u observaciones puntuales sobre los aspectos evaluados en el punto anterior.</span>
            <%= f.text_area :writing_score_jistification %>
          </label>
        </div>
        <div>Decisión final</div>
        <div class="form-row">
          <label>
            <span>Considera que el material debe ser publicado:</span>

          </label>
        </div>
        <div class="form-row">
          <label>
            <span>En caso de haber escogido las opciones 2 o 3 en el punto anterior, por favor especifique el tipo de modificacióna
            o modificaciones a realizar. En caso de haber escogido la opción 4, por favor realice el comentario pertinente.</span>
            <%#= f.text_area :justification %>
          </label>
        </div>
        <div class="form-row">
          <span><center>Optativamente, el evaluador podrá utilizar este espacio para realizar cualquier tipo de
             observación adicional para el autor o para el editor acerca del manuscrito.</center></span>
          <label>
            <div class="form-row">
            <span>Observaciones para el autor</span>
            <%= f.text_area :aditional_remarks_to_author %>
            </div>
            <div class="form-row">
            <span>Observaciones para el editor</span>
            <%= f.text_area :aditional_remarks_to_publisher %>
            </div>
          </label>
        </div>
        <div class="form-row">
          <label>
            <span>El grado de divulgación de la obra es:</span>
            <%= f.radio_button :disclosure_degree, 1 %> Regional
            <%= f.radio_button :disclosure_degree, 2 %> Nacional
            <%= f.radio_button :disclosure_degree, 3 %> Internacional
          </label>
        </div>
        <table style="width:100%">
          <span>El público lector al que está dirigida la obra es:</span>
          <hr>
          <tr>
            <th>Público lector</th>
            <th>Selección</th>
          </tr>
          <tr>
            <td>Público 1</td>
            <td><%= f.radio_button :target_audience, 1 %></td>
          </tr>
          <tr>
            <td>Público 2</td>
            <td><%= f.radio_button :target_audience, 2 %></td>
          </tr>
          <tr>
            <td>Público 3</td>
            <td><%= f.radio_button :target_audience, 3 %></td>
          </tr>
          <tr>
            <td>Público 4</td>
            <td><%= f.radio_button :target_audience, 4 %></td>
          </tr>
        </table>
        <hr>
        <div class="form-row">
          <label>
            <span>Observaciones sobre el público lector:</span>
            <%= f.text_area :target_audience_remark %>
          </label>
        </div>
        <div class="form-row">
          <label>
            <span>Mencione a continuación institutos, sociedades, gremios,
              escuelas, facultades, congresos y otras entidades o eventos
              cuyos integrantes constituyan un público objetivo importante
              para la publicación(especifique ubicación geográfica y, de
              ser pertinente, fecha) </span>
            <%#= f.text_area :justification %>
          </label>
        </div>


        <div class="actions">
          <%= f.submit :'Crear Evaluación' %>
        </div>

    </div>
    <% end %>
  </div>
</div>
<% if professor_signed_in? %>
<div class="col-sm-12">
  <div class="form-basic-2">
    <div class="text-center">
      <div class="li-custom" style="width:100px; margin:auto; padding:10px 10px 10px 10px">
        <%= link_to 'Volver', professor_home_path %>
      </div>
    </div>
  </div>
</div>
<% elsif administrator_signed_in? %>
<div class="col-sm-12">
  <div class="form-basic-2">
    <div class="text-center">
      <div class="li-custom" style="width:100px; margin:auto; padding:10px 10px 10px 10px">
        <%= link_to 'Volver', administrator_home_path %>
      </div>
    </div>
  </div>
</div>
<% end %>
