<div class="row">
  <div class="col-sm-2">
    <%= render 'static/menu_publicaciones' %>
  </div>
  <div class="col-md-10">
    <div class="text-center" style="padding: 10px 0px 0px 0px;">
      <h1 style="font-size:200%;">Datos evaluador</h1>
      <p id="notice"><%= notice %></p>
    </div>
    <div><hr class="style13"></div>
    <div class="info">
      <ul class="info-list">
        <li>
          <span class="inf">Nombres</span>
          <span class="value">
            <%= @evaluator.first_name %>
          </span>
        </li>
        <li>
          <span class="inf">Apellidos</span>
          <span class="value">
            <%= @evaluator.last_name %>
          </span>
        </li>
        <li>
          <span class="inf">Correo electrónico</span>
          <span class="value">
            <%= @evaluator.email %>
          </span>
        </li>
        <li>
          <span class="inf">Idioma</span>
          <span class="value">
            <%= Language.find(@evaluator.language_id).name %>
            <%#= @evaluator.language_id.name %>
          </span>
        </li>
        <li>
          <span class="inf">Cargo</span>
          <span class="value">
            <%= @evaluator.position %>
          </span>
        </li>
        <li>
          <span class="inf">Institución a la que pertenece</span>
          <span class="value">
            <%= @evaluator.institution %>
          </span>
        </li>
        <li>
          <span class="inf">Grado obtenido</span>
          <span class="value">
            <%= @evaluator.degree %>
          </span>
        </li>
        <li>
          <span class="inf">Número de contacto</span>
          <span class="value">
            <%= @evaluator.contact_number %>
          </span>
        </li>
    </ul>
    </div>
    <div><hr class="style13"></div>
    <div class="form-basic-2">
      <div class="text-center">
        <div class="li-custom" style="width:100px; margin:auto; padding:10px 10px 10px 10px">
          <%= link_to 'Volver', :back %>
        </div>
      </div>
    </div>
  </div>
</div>
