<%= form_for(:evaluation, :url => evaluate_publication_path) do |f| %>

<div class="field">
  <%= f.label "Correo" %><br />
  <%= f.text_field :email, autofocus: true %>
</div>

<div class="field">
  <%= f.label "Codigo" %><br />
  <%= f.password_field :code, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.hidden_field :url_token,  :value => @url_token %>
</div>

<div class="actions">
  <%= f.submit :"Autenticar", :class=>"button"%>
</div>

<% end %>
