<%= form_for(attatchment) do |f| %>
  <% if attatchment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attatchment.errors.count, "error") %> prohibited this attatchment from being saved:</h2>

      <ul>
      <% attatchment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Cargar solicitud' %>
    <%= f.file_field :url %>
  </div>

  <div class="field">
    <%= f.hidden_field :category, :value => '1'%>
  </div>
  
  <div class="field">
    <%= f.label :'Cargar manuscrito' %>
    <%= f.file_field :url %>
  </div>

  <div class="field">
    <%= f.hidden_field :category, :value => '1'%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
