<div class="col-sm-10">
  <div class="main-content">
    <div class="form-basic">
      <%= puts "cat #{category}" %>

      <h1 style="font-size:100%;"><%= "#{category}" %></h1>
      <%= form_for [application_request, attatchment] do |f| %>
      <% if attatchment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(attatchment.errors.count, "error") %> prohibited this evaluator from being saved:</h2>
        <ul>
          <% attatchment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="form-row">
        <%= f.label :'Cargar solicitud' %>
        <%= f.file_field :pdf_document%>
        <%= f.hidden_field :category, :value => category%>
      </div>
      <div class="actions">
        <%= f.submit :"Subir archivo"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
