<table width="100%" >
  <tr>
    <th width="30%">
      <%= link_to (attatchment.pdf_document.url), target: :_blank do %>
      <%= fa_icon "file-pdf-o 2x", base: "square-o", class: "btn btn-danger"%>
      <% end %>
    </th>
    <th width="70%">
      <%= link_to (attatchment.pdf_document.url), target: :_blank do %>
      <div style="font-size:200%;"><%= attatchment.pdf_document.filename %></div>
      <% end %>
    </th>
    <%- if professor_signed_in? && attatchment.application_request.state == 'En creación' ||
      administrator_signed_in? && attatchment.category == 'concepto_editorial_b' &&
      attatchment.application_request.state == 'En espera' %>
    <th>
      <%= link_to attatchment_url(attatchment.id), data: { confirm: "¿Está seguro que desea eliminar este archivo?" }, :method => :delete do %>
      <%= fa_icon "trash-o 2x", base: "square-o", class: "btn pull-left" %>
      <% end %>
    </th>
      <%- elsif professor_signed_in? && attatchment.application_request.state != 'En creación' ||
      administrator_signed_in? && attatchment.category == 'concepto_editorial_b' &&
      attatchment.application_request.state != 'En espera' %>
      <!-- <th> -->
      <%#= link_to_unless attatchment.application_request.state != 'En espera',
      (fa_stacked_icon "trash-o", base: "ban", class: "fa-2x text-danger"),
      attatchment_url(attatchment.id), data: { confirm: "¿Está seguro que desea eliminar este archivo?" },
      :method => :delete%>
      <!-- </th> -->
      <% end %>
  </tr>
</table>
