<p id="notice"><%= notice %></p>

<h1>Professor Application Requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professor_application_requests.each do |professor_application_request| %>
      <tr>
        <td><%= link_to 'Show', professor_application_request %></td>
        <td><%= link_to 'Edit', edit_professor_application_request_path(professor_application_request) %></td>
        <td><%= link_to 'Destroy', professor_application_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professor Application Request', new_professor_application_request_path %>
