<html>
<%= form_for(judge) do |f| %>
  <% if judge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(judge.errors.count, "error") %> prohibited this judge from being saved:</h2>

      <ul>
      <% judge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="col-sm-12" style="padding:0px 50px 0px 0px">
		<div class="main-content">
			<form class="form-basic" method="post" action="#">
				<div class="form-title-row">
					<h1>Datos básicos del evaluador</h1>
				</div>

				<div class="form-row">
					<label>
						<span>Nombres</span>
						  <div class="field">
							<%= f.text_field :name %>
						  </div>
					</label>
				</div>
				<div class="form-row">
					<label>
						<span>Apellidos</span>
						  <div class="field">
							<%= f.text_field :lastname %>
						  </div>
					</label>
				</div>
				<div class="form-row">
					<label>
						<span>Correo electrónico</span>
						  <div class="field">
							<%= f.text_field :email %>
						  </div>
					</label>
				</div>
				<div class="form-row">
					<label>
						<span>Teléfono</span>
						  <div class="field">
							<%= f.number_field :telephone %>
						  </div>
					</label>
				</div>
				<div class="form-row">
					<label>
						<span>Idioma</span>
						<select name="language">
							<option>Español</option>
							<option>Inglés</option>
							<option>Francés</option>
							<option>Alemán</option>
						</select>
					</label>
				</div>	
				<div class="form-row">
					  <div class="actions">
						<%= f.submit %>
					  </div>
				</div>			
							
			</form>

		</div>
       </div>
	</div>
<% end %>
</html>