<%= form_for(publication) do |f| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="main-content">
        <form class="form-basic" method="post" action="#">
            <div class="form-title-row">
                <h1>Datos de la publicación</h1>
            </div>
            <% if false %>
            <div class="form-row">
                <label>
                    <span>Título</span>
                    <input type="text" name="title">
                </label>
            </div>
			
			<div class="form-row">
                <label>
                    <span>Fecha de creación</span>
                    <input type="date" name="creation">
                </label>
            </div>
			<% end %>
            <div class="form-row">
                <label>
                    <span>Categoría</span>
                    <select name="category">
                        <option>Artículo</option>
                        <option>Libro</option>
                        <option>Investigación</option>
                        <option>Tesis</option>
                    </select>
					  <div class="field">
						<%= f.text_field :category %>
					  </div>
                </label>
            </div>			
			<div class="form-row">
                <label>
                    <span>Área de profundización</span>
                    <select name="area">
                        <option>Ciencias políticas</option>
                        <option>Matemáticas</option>
                        <option>Ingeniería</option>
                        <option>Medicina</option>
                    </select>
					<div class="field">
					  <%= f.text_field :theme %>
				    </div>
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span>Palabras clave</span>
                    <input type="text" name="keywords">
                </label>
            </div>
            <div class="form-row">
			    <label>
                    <span>Resumen</span>
                    <div class="field">
					<%= f.text_area :abstract %>
				</div>
                </label>
            </div>
			<div class="form-row">
			      <div class="actions">
					<%= f.submit %>
				  </div>
            </div>
						
        </form>
    </div>

<% end %>
