<div class="row">
  <div class="col-sm-2">
    <%= render 'static/menu_publicaciones' %>
  </div>
  <div class="col-sm-10">
    <% if professor_signed_in? %>
    <div class="text-center" style="padding: 10px 0px 0px 0px;">
      <h1 style="font-size:200%;">Mis Publicaciones</h1>
      <p id="notice"><%= notice %></p>
    </div>
    <% elsif administrator_signed_in? %>
    <div class="text-center" style="padding: 10px 0px 0px 0px;">
      <h1 style="font-size:200%;">Publicaciones</h1>
      <p id="notice"><%= notice %></p>
    </div>
    <% end %>

    <div><hr class="style13"></div>
    <div class="form-basic-2" style="width:920px">
      <%= will_paginate @publications, :style => "background:none"%>
      <%= form_tag publications_path, :method => 'get' do |f| %>
      <span>Filtrar por nombre de la publicación</span>
      <%= text_field_tag :search, params[:search] %>
      <br>
      <span>Filtrar por categoría</span>
      <%= select_tag :category, options_from_collection_for_select(Category.all, "id","category","") ,prompt: "Seleccione una categoría" %>
      <span>Filtrar por estado</span>
      <%= select_tag :status, options_for_select(ApplicationRequest.states.map {|k, v| [k.humanize.capitalize, v]}), prompt: "Seleccione estado" %>
      <%= submit_tag "Filtrar" %>
      <% end %>
      <table class="table-custom">
        <tr>
          <th>Titulo</th>
          <th>Abstract</th>
          <th>Tema</th>
          <th>Categoria</th>
          <th>Estado</th>
          <th colspan="3"></th>
        </tr>
        <tbody>
          <% @publications.each do |publication| %>
          <tr>
            <td><%= publication.title %></td>
            <td><%= publication.abstract %></td>
            <td><%= publication.theme.theme %></td>
            <td><%= publication.category.category %></td>
            <td>
              <% if publication.application_request == nil %>
              <% else %>
              <%= publication.application_request.state %>
              <% end %>
            </td>
            <td><%= link_to 'Ver', publication %></td>
            <td><%= link_to_if publication.application_request.state == 'En creación', 'Editar', edit_publication_path(publication) %></td>
            <td><%= link_to 'Eliminar', publication, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="form-basic-2">
      <div><hr class="style13"></div>
      <div class="text-center">
        <div class="li-custom" style="width:100px; margin:auto; padding:10px 10px 10px 10px">
          <%= link_to 'Volver', :back %>
        </div>
      </div>
    </div>
  </div>
</div>
