<div class="row">
  <div class="col-sm-2">
    <%= render 'static/menu_publicaciones' %>
  </div>
  <div class="col-md-10">
    <% if professor_signed_in? %>
    <div class="text-center" style="padding: 10px 0px 0px 0px;">
      <h1 style="font-size:200%;">Mi Publicación</h1>
      <p id="notice"><%= notice %></p>
    </div>
    <% elsif administrator_signed_in? %>
    <div class="text-center" style="padding: 10px 0px 0px 0px;">
      <h1 style="font-size:200%;">Publicación</h1>
      <p id="notice"><%= notice %></p>
    </div>
    <% end %>
    <div><hr class="style13"></div>
    <center>
      <div class="progress" style="width:500px">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:<%= @publication.request_completeness %>%">
          <%= @publication.request_completeness %>%
        </div>
      </div>
    </center>
    <div class="info">
      <ul class="info-list ">
        <li>
          <span class="inf">Titulo</span>
          <span class="value">
            <%= @publication.title %>
          </span>
        </li>
        <li>
          <span class="inf">Abstract</span>
          <span class="value">
            <%= @publication.abstract %>
          </span>
        </li>
        <li>
          <span class="inf">Tema</span>
          <span class="value">
            <%= @publication.theme.theme %>
          </span>
        </li>
        <li>
          <span class="inf">Categoria</span>
          <span class="value">
            <%= @publication.category.category %>
          </span>
        </li>
        <li>
          <span class="inf">Palabras clave</span>
          <span class="value">
            <%= Keyword.find(@publication.keyword_ids[0]).keyword %>,
            <%= Keyword.find(@publication.keyword_ids[1]).keyword %>,
            <%= Keyword.find(@publication.keyword_ids[2]).keyword %>
          </span>
        </li>
        <li>
          <span class="inf">Estado</span>
          <span class="value">
            <%= @publication.application_request.state %>
          </span>
        </li>
        <li>
          <span class="inf">Profesores</span>
          <span class="value">
            <%= "#{Professor.find(@publication.professor_ids[0]).first_name}#{" "}#{Professor.find(@publication.professor_ids[0]).last_name}" %>
          </span>
        </li>
      </ul>
    </div>

    <div><hr class="style13"></div>
    <% if professor_signed_in? %>
    <div class="li-custom" style="width:100px; margin:auto; text-align:center">
      <%= link_to('Crear PDF', create_pdf_path) %>
    </div>
    <br>
    <div class="li-custom" style="width:100px; margin:auto; text-align:center">
      <%= link_to 'Volver', :back %>
    </div>
    <% elsif administrator_signed_in? %>
    <div class="li-custom" style="width:100px; margin:auto; padding:10px 10px 10px 10px; text-align:center">
      <%= link_to 'Volver', :back %>
    </div>
    <% end %>
    <div><hr class="style13"></div>
      <%- unless @publication.application_request.document_loaded?(:carta_presentacion) %>
      <%= render 'attatchments/form', attatchment: Attatchment.new,
      application_request: @publication.application_request,
      category: :carta_presentacion%>
      <%- else %>
        <%= render 'attatchments/show', attatchment: @publication.get_attatchment(:carta_presentacion)%>
      <% end %>

      <br>
      <%- unless @publication.application_request.document_loaded?(:concepto_editorial_a) %>
      <%= render 'attatchments/form', attatchment: Attatchment.new,
      application_request: @publication.application_request,
      category: :concepto_editorial_a%>
      <%- else %>
        <%= render 'attatchments/show', attatchment: @publication.get_attatchment(:concepto_editorial_a)%>
      <% end %>

      <br>
      <%- unless @publication.application_request.document_loaded?(:manuscrito) %>
      <%= render 'attatchments/form', attatchment: Attatchment.new,
      application_request: @publication.application_request,
      category: :manuscrito%>
      <%- else %>
        <%= render 'attatchments/show', attatchment: @publication.get_attatchment(:manuscrito)%>
      <% end %>
  </div>
</div>
