<div class="row">
  <div class="col-sm-2">
    <%= render 'static/menu_publicaciones' %>
  </div>
  <div class="col-md-10">
    <% if professor_signed_in? %>
    <div class="text-center" style="padding: 10px 0px 0px 0px;">
      <h1 style="font-size:200%;">Mi Publicación</h1>
      <p id="notice"><%= notice %></p>
    </div>
    <% elsif administrator_signed_in? %>
    <div class="text-center" style="padding: 10px 0px 0px 0px;">
      <h1 style="font-size:200%;">Publicación</h1>
      <p id="notice"><%= notice %></p>
    </div>
    <% end %>
    <div><hr class="style13"></div>
    <div class="info">
      <ul class="info-list ">
        <li>
          <span class="inf">Titulo</span>
          <span class="value">
            <%= @publication.title %>
          </span>
        </li>
        <li>
          <span class="inf">Abstract</span>
          <span class="value">
            <%= @publication.abstract %>
          </span>
        </li>
      </ul>
    </div>
    <div><hr class="style13"></div>
    <div class="form-basic-2">
      <% if professor_signed_in? %>
      <div class="li-custom" style="width:200px; float:left">
        <%= link_to('Crear PDF', create_pdf_path) %>
      </div>
      <div class="li-custom" style="width:100px; float:right">
        <%= link_to 'Volver', professor_home_path %>
      </div>
      <% elsif administrator_signed_in? %>
      <div class="li-custom" style="width:100px; margin:auto; padding:10px 10px 10px 10px">
        <%= link_to 'Volver', administrator_home_path %>
      </div>
      <% end %>
    </div>
  </div>
</div>
