<div class="row">
  <div class="col-sm-2">
    <%= render 'static/menu_publicaciones' %>
  </div>
  <div class="col-sm-10">
    <div class="text-center" style="padding: 10px 0px 0px 0px">
      <h1 style="font-size:200%;">Estadísticas</h1>
      <p id="notice"><%= notice %></p>
    </div>
    <div><hr class="style13"></div>
    <%= javascript_include_tag "graphs" %>
    <center>
      <button class="button1 button2" onclick="categPie()">Categoría</button>
      <button class="button1 button2" onclick="themePie()">Tema</button>
      <button class="button1 button2" onclick="statusPie()">Estado</button>
      <button class="button1 button2" onclick="profDptoPie()">Departamento</button>
      <button class="button1 button2" onclick="profGenderPie()">Género</button>
      <button class="button1 button2" onclick="appReqCreation()">Solicitudes por Fecha</button>
      <button class="button1 button2" onclick="appReqState()">Estado por Fecha</button>
      <div><hr class="style13"></div>
      <div id="addButtonsApRe"></div>
      <div id="addButtons"></div>
      <h1 style="font-size:130%;" id="tituloEst"></h1>
      <div id="monthChart"></div>
      <svg id="graficas" height=300px width="80%"></svg>
    </center>

    <script type="text/javascript"> categPie(); </script>

    <div><hr class="style13"></div>
    <% if professor_signed_in? %>
    <div class="col-sm-12">
      <div class="form-basic-2">
        <div class="text-center">
          <div class="li-custom" style="width:100px; margin:auto; padding:10px 10px 10px 10px">
            <%= link_to 'Volver', professor_home_path %>
          </div>
        </div>
      </div>
    </div>
    <% elsif administrator_signed_in? %>
    <div class="col-sm-12">
      <div class="form-basic-2">
        <div class="text-center">
          <div class="li-custom" style="width:100px; margin:auto; padding:10px 10px 10px 10px">
            <%= link_to 'Volver', :back %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
