<!-- Pagina principal -->
<div class="row">
  <!-- Menu principal -->
  <div class="col-sm-2">
    <%= render 'static/menu_publicaciones' %>
  </div>
  <!-- Titulo -->
  <div class="text-center">
    <div class="col-md-10" style="padding: 10px 0px 0px 0px;">
      <h1 style="font-size:200%;">Catálogo de publicaciones</h1>
    </div>
  </div>
  <!-- <div><hr class="style13"></div> -->
  <!-- Catalogo -->
  <div class="col-sm-7">
    <div class="catalog">
      <div class="books">
        <div class="line">
          <h4>Publicaciones destacadas</h4>
          <div><hr class="style13"></div>
          <div class="col-md-3 quarter" style="padding: 0px 0px 0px 0px">
            <div class="view text-center">
              <a href="http://www.uneditorial.com/research-topics-in-software-evolution-and-maintenance-ingenieria-de-sistemas-1.html">
                <%= image_tag "libro5.jpg", :alt => "lib1", :width => 100, :height => 150%>
              </a>
              <div class="t-team-read">
                <a href="http://www.uneditorial.com/research-topics-in-software-evolution-and-maintenance-ingenieria-de-sistemas-1.html"
                title="Research topics in software evolution and maintenance">Research topics in software evolution...</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 quarter" style="padding: 0px 0px 0px 0px">
            <div class="view text-center">
              <a href="http://www.uneditorial.com/termodinamica-tecnica-ingenieria-mecanica.html">
                  <%= image_tag "libro2.jpg", :alt => "lib2", :width => 100, :height => 150%>
              </a>
              <div class="t-team-read">
                <a href="http://www.uneditorial.com/termodinamica-tecnica-ingenieria-mecanica.html"
                title="Termodinámica técnica">Termodinámica técnica</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 quarter">
            <div class="view text-center">
              <a href="http://www.uneditorial.com/metodologia-de-diseno-para-ingenieria-ingenieria-mecanica.html">
                <%= image_tag "libro3.jpg", :alt => "lib3", :width => 100, :height => 150%>
              </a>
              <div class="t-team-read">
                <a href="http://www.uneditorial.com/metodologia-de-diseno-para-ingenieria-ingenieria-mecanica.html"
                title="Metodología de diseño para ingeniería">Metodología de diseño para ingeniería</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 quarter">
            <div class="view text-center">
              <a href="http://www.uneditorial.com/produccion-44-caracterizacion-y-aplicaciones-de-recubrimientos-producidos-por-plasma-ingenieria-en-general.html">
                <%= image_tag "libro4.jpg", :alt => "lib4", :width => 100, :height => 150%>
              </a>
              <div class="t-team-read">
                <a href="http://www.uneditorial.com/produccion-44-caracterizacion-y-aplicaciones-de-recubrimientos-producidos-por-plasma-ingenieria-en-general.html"
                title="Producción, caracterización y aplicaciones de recubrimientos producidos por plasma">Producción, caracterización y  ...</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 quarter" style="padding: 10px 0px 0px 0px">
            <div class="view text-center">
              <a href="http://www.uneditorial.com/metodos-numericos-que-debes-saber-ingenieria.html">
                <%= image_tag "libro1.jpg", :alt => "lib5", :width => 100, :height => 150%>
              </a>
              <div class="t-team-read">
                <a href="http://www.uneditorial.com/metodos-numericos-que-debes-saber-ingenieria.html"
                title="Métodos numéricos que debes saber">Métodos numéricos que debes saber</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 quarter" style="padding: 10px 0px 0px 0px">
            <div class="view text-center">
              <a href="http://www.uneditorial.com/modelo-para-la-documentacion-y-estandarizacion-del-software-ingenieria-de-sistemas.html">
                <%= image_tag "libro6.jpg", :alt => "lib6", :width => 100, :height => 150%>
              </a>
              <div class="t-team-read">
                <a href="http://www.uneditorial.com/modelo-para-la-documentacion-y-estandarizacion-del-software-ingenieria-de-sistemas.html"
                title="Modelo para la documentación y estandarización del software">Modelo para la documentación y estandarización...</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 quarter" style="padding: 10px 0px 0px 0px">
            <div class="view text-center">
              <a href="http://www.uneditorial.com/analisis-y-diseno-de-algoritmos-un-enfoque-practico-ingenieria-de-sistemas.html">
                <%= image_tag "libro7.jpg", :alt => "lib7", :width => 100, :height => 150%>
              </a>
              <div class="t-team-read">
                <a href="http://www.uneditorial.com/analisis-y-diseno-de-algoritmos-un-enfoque-practico-ingenieria-de-sistemas.html"
                title="Análisis y diseño de algoritmos">Análisis y diseño de algoritmos</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 quarter" style="padding: 10px 0px 0px 0px">
            <div class="view text-center">
              <a href="http://www.uneditorial.com/diseno-conceptual-de-procesos-quimicos-metodologia-con-aplicaciones-en-esterificacion-quimica.html">
                <%= image_tag "libro8.jpg", :alt => "lib8", :width => 100, :height => 150%>
              </a>
              <div class="t-team-read">
                <a href="http://www.uneditorial.com/diseno-conceptual-de-procesos-quimicos-metodologia-con-aplicaciones-en-esterificacion-quimica.html"
                title="Diseño conceptual de procesos químicos">Diseño conceptual de procesos químicos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Login -->
  <%- if !anyone_singed_in? %>
  <div id="professor_login">
    <div class="col-sm-3" style="padding:0px 50px 0px 0px">
      <%= render 'home/login_profesor_content' %>
    </div>
  </div>
  <div id="administrator_login" class="hidden">
    <div class="col-sm-3" style="padding:0px 50px 0px 0px">
      <%= render 'home/login_admin_content' %>
    </div>
  </div>
  <!-- Checkbox para elegir usuario -->
  <div class="col-sm-3" style="padding:0px 40px 0px 80px">
    <label for="loginCheckbox">Profesor</label>
    <label class="switch">
      <input type="checkbox" name="LoginSelector" id="loginCheckbox" onchange="showLogin(this)" />
      <div class="slider round"></div>
    </label>
    <label for="loginCheckbox">Administrador</label>
  </div>
  <% else %>
  <div class="col-sm-3" style="padding:0px 50px 0px 0px">
    <div class="text-center">
        <h3>Publicacíon destacada</h3>
        <div><hr class="style13"></div>
    </div>
    <div class="view text-center">
      <%= image_tag "destacada.jpg", :alt => "dest", :width => 200, :height => 250%>
      <p>Publicación destacada</p>
    </div>
  </div>
  <% end %>

  <!-- Fin Login -->
  <script type="text/javascript">
  // Funcion para cambiar login
  function showLogin(obj){
    if ($(obj).is(":checked")) {
      document.getElementById('professor_login').classList.add("hidden");
      document.getElementById('administrator_login').classList.remove("hidden");
    } else {
      document.getElementById('professor_login').classList.remove("hidden");
      document.getElementById('administrator_login').classList.add("hidden");
    }
  }
  </script>
</div>
