<div class="col-sm-3" style="padding:0px 50px 0px 0px">
  <div class="login-form">
    <%- if !anyone_singed_in? %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="text-center">
        <h4>Iniciar sesión</h4>
        <div><hr class="style13"></div>
      </div>
      <div class="sign-in-htm">
      <div class="group">
        <label for="user" class="label">Usuario</label>
        <%= f.text_field :username, :id=>"user", :type=>"text", :class=>"input",autofocus: true %>
      </div>
      <div class="group">
        <label for="pass" class="label">Contraseña</label>
        <%= f.password_field :password,:id=>"pass", :type=>"password", :class=>"input", autocomplete: "off" %>
      </div>
      <div class="group text-center">
        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me,:id=>"check", :type=>"checkbox", :class=>"check" %>
            <label for="check">Recordar cuenta</label>
        <% end -%>
      </div>
      <div class="group">
        <div class="actions">
          <%= f.submit "Ingresar", :class=>"button"%>
        </div>
      <% end %>
      </div>
    </div>
    <% else %>
    <div class="group">
      <%= link_to "Salir", destroy_professor_session_path, method: :delete, :class=>"button" %>
    </div>
    <% end %>
  </div>
</div>
