<div class="row">
  <div class="text-center">
    <div class="col-md-6 col-md-offset-3" style="padding: 10px 0px 0px 0px;">
      <h1 style="font-size:200%;">Registro</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <%= render 'static/menu' %>
  </div>

  <div class="col-sm-10">
    <div class="main-content">
      <div class="form-basic">
        <%= form_for(professor) do |f| %>
        <% if professor.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

          <ul>
            <% professor.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <div class="form-title-row">
          <h1>Datos básicos del docente</h1>
        </div>

        <div class="form-row">
          <label>
            <span>User</span>
            <%= f.text_field :username %>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Nombres</span>
            <%= f.text_field :name %>
          </label>
        </div>
        <div class="form-row">
          <label>
            <span>Apellidos</span>
            <%= f.text_field :lastname %>
          </label>
        </div>
        
        <div class="form-row">
          <label>
            <span>Departamento</span>
            <%= f.select :departament, departments%>
          </label>
        </div>
        <div class="form-row">
          <label>
            <span>Correo electrónico</span>
            <%= f.text_field :email %>
          </label>
        </div>

          <div class="actions">
            <%= f.submit :"Crear docente", :class=>"button" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
