<div class="ul-custom" style="padding:0px 0px 10px 0px">
  <div class="menu-header">
    <%=link_to image_tag("edf_viejo.jpg", height:'100%', width:'100%'), root_path %>
  </div>
  <div><hr class="style13"></div>
  <div class="text-center">
    <h4>Menú principal</h4>
  </div>
  <div><hr class="style13"></div>
  <% if professor_signed_in? %>
  <div class="li-custom">
    <%= link_to 'Inicio', professor_home_path %>
  </div>
  <div class="li-custom">
    <%= link_to 'Mi perfil', show_current_professor_path %>
  </div>
  <div class="li-custom">
    <%= link_to 'Mis publicaciones', publications_path %>
  </div>
  <div class="li-custom">
    <%= link_to 'Crear Solicitud', new_publication_path %>
  </div>
  <div class="li-custom">
    <%= link_to 'Revisar solicitud', under_construction_path %>
  </div>
  <div class="li-custom">
    <%= link_to 'Requisitos necesarios para publicaciones', under_construction_path %>
  </div>

  <% elsif administrator_signed_in? %>
  <div class="li-custom">
    <%= link_to 'Inicio', administrator_home_path %>
  </div>
  <div class="li-custom">
    <%= link_to 'Mi perfil', show_current_administrator_path %>
  </div>
  <div class="li-custom">
    <%= link_to 'Ver profesores', professors_path %>
  </div>
  <div class="li-custom">
    <%= link_to 'Habilitar solicitudes de publicación', application_requests_path %>
  </div>
  <div class="li-custom">
    <%= link_to 'Consultar solicitudes actuales', under_construction_path %>
  </div>
  <div class="li-custom">
    <%= link_to 'Consultar publicaciones', publications_path %>
  </div>
  <div class="li-custom">
    <%= link_to 'Ver estadisticas', under_construction_path %>
  </div>
  <% else %>
  <div class="li-custom">
    <%= link_to 'Instrucciones para postularse', under_construction_path %>
  </div>
  <% end %>
  <div class="li-custom">
    <%= link_to 'Ver catálogo', under_construction_path %>
  </div>
  <div class="li-custom">
    <a href="/contact">Contacto</a>
  </div>
  <%- if !anyone_singed_in? %>
  <% else %>
  <div class="li-custom">
    <%= link_to "Salir", destroy_professor_session_path, method: :delete, :class=>"button" %>
  </div>
  <% end %>
</div>
