<div class="row">
  <div class="col-sm-2">
    <%= render 'static/menu_publicaciones' %>
  </div>
  <div class="col-md-10">
    <div class="text-center" style="padding: 10px 0px 0px 0px;">
      <h1 style="font-size:200%;">Mis datos</h1>
      <p id="notice"><%= notice %></p>
    </div>
    <div><hr class="style13"></div>
    <div class="info">
      <ul class="info-list">
        <li>
          <span class="inf">Usuario</span>
          <span class="value">
            <%= @administrator.username %>
          </span>
        </li>
        <li>
          <span class="inf">Nombres</span>
          <span class="value">
            <%= @administrator.first_name %>
          </span>
        </li>
        <li>
          <span class="inf">Apellidos</span>
          <span class="value">
            <%= @administrator.last_name %>
          </span>
        </li>
        <li>
          <span class="inf">Correo electrónico</span>
          <span class="value">
            <%= @administrator.email %>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-10">
    <div><hr class="style13"></div>
    <div class="form-basic-2">
      <div class="li-custom" style="width:250px; margin:auto; padding: 0px 0px 10px 0px">
        <%= link_to 'Actualizar datos personales', edit_current_administrator_path %>
      </div>
      <div class="li-custom" style="width:200px; margin:auto; padding: 0px 0px 10px 0px">
        <%= link_to 'Editar contraseña', administrator_edit_password_path %>
      </div>
      <div class="li-custom" style="width:150px; margin:auto; padding: 0px 0px 10px 0px">
        <%= link_to 'Volver', :back %>
      </div>
    </div>
  </div>
</div>
