<div class="panel panel-custom">
  <div class="panel-heading text-center">
    <h3 class="panel-title">Contáctenos</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4>Conozca al equipo detrás de esta aplicación</h4>
        <div><hr class="style13"></div>
      </div>
      <!-- Team -->
      <div class="col-sm-12">
        <!-- Rage -->
        <div class="col-sm-6 col-md-3 padd-team">
          <div class="view text-center">
            <%= image_tag "felipe.jpg", :alt => "felipe", :width => 100, :height => 150 %>
            <a class="mask" data-target="#felipe" data-toggle="modal">
              <div class="t-team-read">
                <h6>ver mas</h6>
              </div>
            </div>
          </a>
          <div class="text-team text-center">
            <div class="d-team"></div>
            <h4>Felipe Moreno</h4>
            <h6>Desarrollador Backend(Scrum master)</h6>
          </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="felipe" style="display: none;" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title title-modal-team" id="gridSystemModalLabel">Felipe Moreno</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-12">
                    <p>Informacion basica o bio</p>
                    <a href="mailto:anfmorenoso@unal.edu.co">anfmorenoso@unal.edu.co</a>
                    <ul class="list-inline banner-social-buttons">
                      <li>
                        <a href="https://www.facebook.com/afmsandres" class="btn btn-default btn-xs"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                      </li>
                      <li>
                        <a href="https://twitter.com/Feel_ipe" class="btn btn-default btn-xs"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                      </li>
                      <li>
                        <a href="https://github.com/anfmorenoso" class="btn btn-default btn-xs"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- steven -->
        <div class="col-sm-6 col-md-2 padd-team">
          <div class="view text-center">
            <%= image_tag "steven.jpg", :alt => "steven", :width => 100, :height => 150 %>
            <a class="mask" data-target="#steven" data-toggle="modal">
              <div class="t-team-read">
                <h6>ver mas</h6>
              </div>
            </div>
          </a>
          <div class="text-team text-center">
            <div class="d-team"></div>
            <h4>Steven Bustos</h4>
            <h6>Desarrollador Frontend</h6>
          </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="steven" style="display: none;" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title title-modal-team" id="gridSystemModalLabel">Steven Bustos</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-12">
                    <p>Informacion basica o bio</p>
                    <a href="mailto:jsbustosb@unal.edu.co">jsbustosb@unal.edu.co</a>
                    <ul class="list-inline banner-social-buttons">
                      <li>
                        <a href="https://www.facebook.com/jsbustosb" class="btn btn-default btn-xs"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                      </li>
                      <li>
                        <a href="https://twitter.com/steven_bustos95" class="btn btn-default btn-xs"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                      </li>
                      <li>
                        <a href="https://github.com/stevenbustos" class="btn btn-default btn-xs"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Santiago -->
        <div class="col-sm-6 col-md-2 padd-team">
          <div class="view text-center">
            <%= image_tag "santiago.jpg", :alt => "santiago", :width => 100, :height => 150 %>
            <a class="mask" data-target="#santiago" data-toggle="modal">
              <div class="t-team-read">
                <h6>ver mas</h6>
              </div>
            </div>
          </a>
          <div class="text-team text-center">
            <div class="d-team"></div>
            <h4>Santiago Barrera<h4>
              <h6>Desarrollador Backend</h6>
            </div>
          </div>
          <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="santiago" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title title-modal-team" id="gridSystemModalLabel">Santiago Barrera</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <p>Informacion basica o bio</p>
                      <a href="mailto:dsbarrerag@unal.edu.co">dsbarrerag@unal.edu.co</a>
                      <ul class="list-inline banner-social-buttons">
                        <li>
                          <a href="https://www.facebook.com/santiago.barrera.921" class="btn btn-default btn-xs"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                          <a href="https://twitter.com/davsanba" class="btn btn-default btn-xs"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                          <a href="https://github.com/dsbarrerag" class="btn btn-default btn-xs"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Choncho -->
          <div class="col-sm-6 col-md-2 padd-team">
            <div class="view text-center">
              <%= image_tag "choncho.jpg", :alt => "choncho", :width => 100, :height => 150 %>
              <a class="mask" data-target="#choncho" data-toggle="modal">
                <div class="t-team-read">
                  <h6>ver mas</h6>
                </div>
              </div>
            </a>
            <div class="text-team text-center">
              <div class="d-team"></div>
              <h4>Ivan González</h4>
              <h6>Desarrollador Backend</h6>
            </div>
          </div>
          <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="choncho" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title title-modal-team" id="gridSystemModalLabel">Ivan Gonzalez</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <p>Informacion basica o bio</p>
                      <a href="mailto:ivdgonzalezc@unal.edu.co">ivdgonzalezc@unal.edu.co</a>
                      <ul class="list-inline banner-social-buttons">
                        <li>
                          <a href="https://www.facebook.com/sirchoncho" class="btn btn-default btn-xs"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                          <a href="https://twitter.com/sirchoncho" class="btn btn-default btn-xs"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                          <a href="https://github.com/ivdgonzalezco" class="btn btn-default btn-xs"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Yessika -->
          <div class="col-sm-3 col-md-3 padd-team">
            <div class="view text-center">
              <%= image_tag "yessika.jpg", :alt => "yessika", :width => 100, :height => 150 %>
              <a class="mask" data-target="#yessika" data-toggle="modal">
                <div class="t-team-read">
                  <h6>ver mas</h6>
                </div>
              </div>
            </a>
            <div class="text-team text-center">
              <div class="d-team"></div>
              <h4>Yessica Chautá</h4>
              <h6>Desarrollador Frontend</h6>
            </div>
          </div>
          <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="yessika" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title title-modal-team" id="gridSystemModalLabel">Yessica Chautá</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <p>Informacion basica o bio</p>
                      <a href="mailto:ykchautai@unal.edu.co">ykchautai@unal.edu.co</a>
                      <ul class="list-inline banner-social-buttons">
                        <li>
                          <a href="https://www.facebook.com/yecassi" class="btn btn-default btn-xs"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                          <a href="https://twitter.com/yecassi" class="btn btn-default btn-xs"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                          <a href="https://github.com/ykchautai" class="btn btn-default btn-xs"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
