<div class="row">
  <div class="col-sm-2">
    <%= render 'static/menu_publicaciones' %>
  </div>
  <div class="text-center">
    <div class="col-md-10" style="padding: 15px 0px 0px 0px;">
      <h1 style="font-size:200%;">Formulario B</h1>
    </div>
  </div>
  <div class="col-sm-10">
    <div><hr class="style13"></div>
    <div class="main-content">
      <div class="form-basic" style="width:900px">
        <p>Realice la valoración y las observaciones al autor que haya lugar, en cada uno de los siguientes criterios:</p>
        <br>
        <%= form_for(@application_request, :url => form_b_create_path) do |f| %>
        <table id="t01" style="width:100%">
          <tr>
            <th width="25%">Criterio</th>
            <th>Valoración</th>
            <th>Observaciones al autor o unidad académica</th>
          </tr>
          <tr>
            <td colspan="3", align="right" style="background-color:#eee;">1. Presentación del manuscrito</td>
          </tr>
          <%- @editorial_concept_criteria.zip(@crits).each do |ed_criterium, crit| %>
          <% if ed_criterium.id <= 5 %>
          <%= fields_for 'edit_criteria[]', crit do |ec| %>
          <tr>
            <%=ec.hidden_field :editorial_concept_criteria_id, value: ed_criterium.id%>
            <td align="right"><%=ed_criterium.criterium%></td>
            <td><%=ec.number_field :score, :required => true %></td>
            <td><%=ec.text_area :remark, :required => true %></td>
          </tr>
          <% end %>
          <% end %>
          <% end %>
          <tr>
            <td colspan="3", align="right" style="background-color:#eee;">2. Adecuación a la pauta editorial de la Facultad (Manual editorial)</td>
          </tr>
          <%- @editorial_concept_criteria.zip(@crits).each do |ed_criterium, crit| %>
          <% if ed_criterium.id > 5 && ed_criterium.id <= 14 %>
          <%= fields_for 'edit_criteria[]', crit do |ec| %>
          <tr>
            <%=ec.hidden_field :editorial_concept_criteria_id, value: ed_criterium.id%>
            <td><%=ed_criterium.criterium%></td>
            <td><%=ec.number_field :score, :required => true %></td>
            <td><%=ec.text_area :remark, :required => true %></td>
          </tr>
          <% end %>
          <% end %>
          <% end %>
          <tr>
            <td colspan="3", align="right" style="background-color:#eee;">3. Viabilidad editorial, económica y comercial</td>
          </tr>
          <%- @editorial_concept_criteria.zip(@crits).each do |ed_criterium, crit| %>
          <% if ed_criterium.id > 14%>
          <%= fields_for 'edit_criteria[]', crit do |ec| %>
          <tr>
            <%=ec.hidden_field :editorial_concept_criteria_id, value: ed_criterium.id%>
            <td><%=ed_criterium.criterium%></td>
            <td><%=ec.number_field :score, :required => true %></td>
            <td><%=ec.text_area :remark, :required => true %></td>
          </tr>
          <% end %>
          <% end %>
          <% end %>
        </table>
        <br>
        <div class="actions">
          <%= f.submit :'Crear Evaluación' %>
        </div>
        <% end %>
      </div>
    </div>
    <div><hr class="style13"></div>
    <div class="form-basic-2">
      <div class="text-center">
        <div class="li-custom" style="width:100px; margin:auto; padding:10px 10px 10px 10px">
          <%= link_to 'Volver', :back %>
        </div>
      </div>
    </div>
  </div>
</div>
