<div class="row">
  <div class="col-sm-2">
    <%= render 'static/menu_publicaciones' %>
  </div>
  <div class="text-center">
    <div class="col-md-10" style="padding: 10px 0px 0px 0px;">
      <h1 style="font-size:200%;">Registro</h1>
    </div>
  </div>
  <div class="col-sm-10">
    <div><hr class="style13"></div>
    <div class="main-content">
      <div class="form-basic">
        <%= form_for(application_request) do |f| %>
        <% if application_request.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(application_request.errors.count, "error") %> prohibited this application_request from being saved:</h2>

          <ul>
            <% application_request.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <div class="field">
          <%= f.label :state %>
          <%#= f.number_field :state %>
          <%= f.select :state, ApplicationRequest.states.keys.map { |w| [w.humanize, w] } %>
        </div>

        <div class="field">
          <%= f.label :authorized_at %>
          <%= f.date_select :authorized_at %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
