<div class="row">
  <div class="col-sm-2">
    <%= render 'static/menu_publicaciones' %>
  </div>
  <div class="col-sm-10">
    <div class="text-center" style="padding: 10px 0px 0px 0px">
      <h1 style="font-size:200%;">Solicitudes de publicación</h1>
      <p id="notice"><%= notice %></p>
    </div>
    <div><hr class="style13"></div>
    <div class="form-basic-2" style="width:920px">
      <table class="table-custom">
        <tr>
          <th>Titulo</th>
          <th>Estado</th>
          <th>Profesor</th>
          <th>Fecha de creacíon</th>
          <th colspan="3"></th>
        </tr>
        <tbody>
          <% @application_requests.each do |application_request| %>
          <tr>
            <td>
              <% if application_request.publication == nil %>
              <% else %>
              <%= application_request.publication.title %>
              <% end %>
              </td>
            <td><%= application_request.state %></td>
            <td><%= application_request.professor.first_name + " " + application_request.professor.last_name %></td>
            <td><%= application_request.created_at.strftime("%F")  %></td>
            <td><%= link_to 'Ver resumen de la publicación', application_request %></td>
            <td><%= link_to 'Eliminar', application_request, method: :delete, data: { confirm: '¿Está seguro de que desea eliminar la solicitud?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div><hr class="style13"></div>
    <div class="form-basic-2">
      <div class="text-center">
        <div class="li-custom" style="width:100px; margin:auto; padding:10px 10px 10px 10px">
          <%= link_to 'Volver', professor_home_path %>
        </div>
      </div>
    </div>
  </div>
</div>
