<p id="notice"><%= notice %></p>

<h1>Application Requests</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Authorized at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @application_requests.each do |application_request| %>
      <tr>
        <td><%= application_request.state %></td>
        <td><%= application_request.authorized_at %></td>
        <td><%= link_to 'Show', application_request %></td>
        <td><%= link_to 'Edit', edit_application_request_path(application_request) %></td>
        <td><%= link_to 'Destroy', application_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application Request', new_application_request_path %>
