<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @application_request.publication.title %>
</p>

<p>
  <strong>State:</strong>
  <%= @application_request.state %>
</p>

<p>
  <strong>Authorized at:</strong>
  <%= @application_request.authorized_at %>
</p>

<%= link_to 'Edit', edit_application_request_path(@application_request) %> |
<%= link_to 'Back', application_requests_path %>
