<p id="notice"><%= notice %></p>

<h1>Approved Publications</h1>

<table>
  <thead>
    <tr>
      <th>Resolution</th>
      <th>Stock</th>
      <th>Stock at store</th>
      <th>Stock at library</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @approved_publications.each do |approved_publication| %>
      <tr>
        <td><%= approved_publication.resolution %></td>
        <td><%= approved_publication.stock %></td>
        <td><%= approved_publication.stock_at_store %></td>
        <td><%= approved_publication.stock_at_library %></td>
        <td><%= link_to 'Show', approved_publication %></td>
        <td><%= link_to 'Edit', edit_approved_publication_path(approved_publication) %></td>
        <td><%= link_to 'Destroy', approved_publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Approved Publication', new_approved_publication_path %>
